
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --primary-dark-cyan: hsl(180, 29%, 50%);
  --bg-light-cyan: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --vdark-gray-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-color: var(--bg-light-cyan);
}

button {
  font-family: "Spartan", sans-serif;
}

/* attribution */

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* Header Component */

.header {
  height: 155px;
  width: 100%;
  background-color: var(--primary-dark-cyan);
  background-image: url('./assets/bg-header-mobile.svg');
}


.container {
  width: 100%;
  max-width: 1110px;
  margin:0 auto;
}

/* Job Cards component */

.job-card {
  position: relative;
  width: 100%;
  max-width: 330px;
  margin:40px auto 0;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 15px 15px -4px hsla(180, 29%, 50%, 20%);
}

.job-card:first-of-type {
  margin-top: 55px;
}

.job-card:last-of-type {
  margin-bottom: 100px;
}

.logo {
  position: absolute;
  width: 50px;
  top: -25px;
  left: 20px;
}

.logo img {
  width: 100%;
}

.card-details {
  padding: 35px 25px 20px;
}

.company {
  color: var(--primary-dark-cyan);
  font-size: .9em;
  display: inline;
  margin-right: 18px;
}

.new-tag, .feature-tag {
  display: inline;
  font-size: .7em;
  text-transform: uppercase;
  padding: 7px 8px 4px;
  border-radius: 15px;
  color: #fff;
  margin-right: 10px;
}

.new-tag {
  background-color: var(--primary-dark-cyan);
}

.feature-tag {
  background-color: var(--vdark-gray-cyan);
}

.feature-highlight {
  position: absolute;
  width: 5px;
  height: 100%;
  background-color: var(--primary-dark-cyan);
  left: 0;
  top: 0;
  border-radius: 5px 0 0 5px;
}

.position {
  cursor: pointer;
  padding-top: 15px;
  font-size: 1.2em;
  color: var(--vdark-gray-cyan);
}

.position:hover {
  color: var(--primary-dark-cyan);
}

.description {
  padding-top: 15px;
  font-size: .8em;
  color: var(--dark-gray-cyan);
}

.description span {
  padding: 0 3px;
  font-size: 1em;
}
 
.card-tags {
  display: flex;
  flex-wrap: wrap;
  margin: 0px 25px;
  padding: 15px 0 10px;
  border-top: 1px solid var(--dark-gray-cyan);
}

.job-tag {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 8px 8px 6px;
  margin: 0 15px 15px 0px;
  color: var(--primary-dark-cyan);
  background-color: var(--filter-tablets);
  font-size: .85em;
  font-weight: 700;
}

.job-tag:hover {
  color: var(--filter-tablets);
  background-color: var(--primary-dark-cyan);
}



/* filters component */

.filters-container {
  transform: translateY(-40px);
  width: 100%;
  max-width: 330px;
  margin: 0 auto -30px;
}

.filters {
  display: flex;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 15px 15px -4px hsla(180, 29%, 50%, 20%);
}

.active-filters {
  display: flex;
  align-items: center;
  margin: 10px 25px 25px;
  flex-wrap: wrap;
  width: 100%;
}

.filter-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 5px;
  padding: 0 0 0 10px;
  margin: 15px 15px 0px 0px;
  color: var(--primary-dark-cyan);
  background-color: var(--filter-tablets);
  font-size: .9em;
  font-weight: 700;
}

.remove-btn { 
  cursor: pointer;;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  border-radius: 0px 5px 5px 0px;
  background-color: var(--primary-dark-cyan);
}

.remove-btn:hover { 
  background-color: var(--vdark-gray-cyan);
}

.clear-btn {
  cursor: pointer;
  border: none;
  background-color: transparent;
  margin-right: 25px;
  color: var(--dark-gray-cyan);
}

.clear-btn:hover {
  color: var(--primary-dark-cyan);
  text-decoration: underline;
}

/* New Focus States */

.remove-btn:focus { 
  outline: none;
  background-color: var(--vdark-gray-cyan);
}

.job-tag:focus {
  outline-color: var(--primary-dark-cyan);
}

.clear-btn:focus {
  outline: none;
  text-decoration: underline;
}

/* media queries */

@media only screen and (min-width: 600px) {
  .header {background-image: url('./assets/bg-header-desktop.svg');}
}

@media only screen and (min-width: 768px) {
  .job-card {
    max-width: 720px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .logo {
    position: relative;
    width: 100%;
    max-width: 90px;
    top: unset;
    left: unset;
    margin-left: 25px;
  }

  .card-details {
    padding: 25px 25px 25px;
  }

  .card-tags {
    width: 250px;
    justify-content: flex-end;
    margin: 25px 10px 10px auto;
    padding: 0 0 0;
    border-top: unset;
  }

  .filters-container {
    max-width: 720px;
  }

}

@media only screen and (min-width: 1200px) {

  .job-card {
    max-width: unset;
  }

  .logo {
    margin: 30px 0 30px 40px;
  }

  .card-tags {
    width: 50%;
    margin: 25px 25px 10px auto;
  }

  .job-tag {
    padding: 9px 9px 7px;
  }

  .description {
    padding-top: 15px;
    font-size: 1em;
    color: var(--dark-gray-cyan);
  }
  
  .description span {
    padding: 0 8px;
    font-size: 1em;
  }

  .filters-container {
    max-width: 1110px;
  }
}