
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --primary-dark-cyan: hsl(180, 29%, 50%);
  --bg-light-cyan: hsl(180, 52%, 96%);
  --filter-tablets: hsl(180, 31%, 95%);
  --dark-gray-cyan: hsl(180, 8%, 52%);
  --vdark-gray-cyan: hsl(180, 14%, 20%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-color: var(--bg-light-cyan);
}

/* Header Component */

.header {
  height: 155px;
  width: 100%;
  background-color: var(--primary-dark-cyan);
  background-image: url('./assets/bg-header-mobile.svg');
}

@media only screen and (min-width: 600px) {
  .header {background-image: url('./assets/bg-header-desktop.svg');}
}